body {
    background-image: url('https://wallpapershome.com/images/pages/pic_h/21456.jpg');
    background-size: 100vw 100vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style-type: none;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }